In [7]:
#Q1
#list is mutable(can change) while tuple is immutable(can't change without typecasting)
l = [1,2,3]
l[1] = 5
print('New_list: ',l)
t = (1,2,3)
t[1] = 6

New_list:  [1, 5, 3]

TypeError: 'tuple' object does not support item assignment

In [10]:
#Q2
# by input() we can take the input from users
a =input('Enter value of a: ')# by default it return string datatype 
print(type(a))
b = int(input('Enter value of b: '))# to convert it to integer
print(type(b))

Enter value of a:  14

<class 'str'>

Enter value of b:  45

<class 'int'>

In [15]:
# Q3
# Dictionary is a datatype in python in which we store the values in the form of keys and values. 
# Keys should be unique and contains single value while values can have multiple elements.
Dic = {'Name': 'Anjnay','Age': 21, 'Course': 'BCA'}
print(Dic)
print(type(Dic))

{'Name': 'Anjnay', 'Age': 21, 'Course': 'BCA'}
<class 'dict'>

In [17]:
#Q4
# 'For' loop runs in the range, it runs till the condition is true in the range.
for i in range (1,6):
    print (i)

1
2
3
4
5

In [97]:
# Q5
# Exception handling helps to handle the errors which may hudle the desired output
# try: in try block we write the code where an error may occur
# except: by except block we handle the error and it runs if there is an error in try block
# finally: the code of this block runs whether except occur or not

try:
    a = 1/0
    print(a)
except:
    print('''Zero can't be in denominator''')
finally:
    print('This is finally block')

Zero can't be in denominator
This is finally block

In [27]:
#Q6
#Python modules are the combination of related classes,functions, and methods.
# import math: here we are importing the math module, by this we can access all the classes or functions which are exit in this module
# from math import sqrt: here we are only importing sqrt funtion from math module which perform square root of a number

In [94]:
import math
print(math.pi)

from math import sqrt
a = sqrt(16)
print(a)

3.141592653589793
4.0

In [37]:
#Q7
# OOPS refers to devlope the code which is object oriented(which means the coding should be goal oriented). 
# It has 4 pillars (Encapsulation, Abstraction, Inheritance, polymorphism
# Classes are the entities which exist in real world. it is the blue print of the properties of object.
# Objects are the instances of the classes which contains all the properties of the class.

In [38]:
class Human:
    def __init__(self):
        print('I am a human being.')
Anjnay = Human()

I am a human being.

In [43]:
#Q8
result = []
for x in range(10):
    if x % 2 == 0:
        result.append(x * 2)
result

[0, 4, 8, 12, 16]

In [46]:
# Q9
def Calculate_area():
    radius = int(input('Enter the radius of circle: '))
    Area =  (22/7) * radius**2
    return Area

In [48]:
Calculate_area()

Enter the radius of circle:  5

78.57142857142857

In [55]:
def Greet(Name = 'Student', Age = None):
    if (Name == None) and (Age == None):
        print('Hello')
    elif (Name != None) and (Age == None):
        print(f'Hello {Name}, How are you??')
    elif (Name != None) and (Age != None):
        print(f'Hello {Name}, you are {Age} years old!')
    else:
        print('Invalid')

In [56]:
Greet()

Hello Student, How are you??

In [57]:
Greet('Anjnay')

Hello Anjnay, How are you??

In [58]:
Greet('Anjnay',21)

Hello Anjnay, you are 21 years old!

In [65]:
# Q11
fruits = ['Apple','Pineapple','Mango','Banana','Lichi']
for i in enumerate(fruits):
        print(i)

(0, 'Apple')
(1, 'Pineapple')
(2, 'Mango')
(3, 'Banana')
(4, 'Lichi')

In [70]:
# Q12
def grade_calc(score = None):
    if(100>=score>=90):
        return 'Grade A'
    elif(89>=score>=80):
        return 'Grade B'
    elif(79>=score>=70):
        return 'Grade C'
    elif(69>=score>=60):
        return 'Grade D'
    elif(60>score):
        return 'Grade F'

In [71]:
grade_calc(87)

'Grade B'

In [74]:
grade_calc(45)

'Grade F'

In [75]:
grade_calc(69)

'Grade D'

In [92]:
# Q14
class Bank_acc:
    name = input('Enter the your name: ')
    balance = int(input('Enter the your balance: '))
    
    def __init__(self):
        
        print(f'Hi {name}, your bank balance is {balance}')
    def deposit(self):
        d = int(input('Enter the value of deposit: '))
        print(f'{d} amount has been deposited successfully')
        #balance += d
    def withdraw(self):
        w = int(input('Enter the value of withdraw: '))
        if balance>=w:
            print(f'{w} has been withdrawal.')
        else:
            print('insufficient balance')
       # balance -= w
    def current_balance(self):
        print(f'Your current balance is: {balance}')

Enter the your name:  rohan
Enter the your balance:  50000

In [93]:
rohan =Bank_acc()

NameError: name 'name' is not defined

In [84]:
rohan.deposit()

Enter the value of deposit:  5000

5000 amount has been deposited successfully

In [85]:
rohan.withdraw()

Enter the value of withdraw:  2000

NameError: name 'balance' is not defined