In [5]:
def total_sales(*args):
    #unpaking
    result = 0
    for i in args:
        result +=i
    return result

In [6]:
total_sales(1,2,43,43)

89

In [7]:
sales = [1132,254,2353,5675,24234,65575,34234]
min_sales = sales[0]
for i in sales[1:]:
    if i<min_sales:
        min_sales=i
print(min_sales)

254

In [9]:
sales = [1132,254,2353,5675,24234,65575,34234]
max_sales = sales[0]
for i in sales[1:]:
    if i>max_sales:
        max_sales=i
print(max_sales)

65575

In [47]:
def sales(op,sales):
    if op == 'MAX':
        min_sales = sales[0]
        for i in sales[1:]:
            if i>min_sales:
                min_sales=i
        print(min_sales)
    elif op =='MIN':
        max_sales = sales[0]
        for i in sales[1:]:
            if i<max_sales:
                max_sales=i
        print(max_sales)
sales_data=[]
n = int(input('Enter number of sales: '))

for j in range(0,n):
    s = int(input(f'Enter value of sales {j+1}: '))
    sales_data.append(s)
print(sales_data)
op = input('Enter the operation(MAX/MIN): ').upper()
sales(op,sales_data)

Enter number of sales:  5
Enter value of sales 1:  656
Enter value of sales 2:  67
Enter value of sales 3:  468
Enter value of sales 4:  376
Enter value of sales 5:  68

[656, 67, 468, 376, 68]

Enter the operation(MAX/MIN):  max

656

In [26]:
company  = ['ola','uber','rapido','indrive','adani','tata']
['#OLA','#UBER','#RAPIDO']


def add_hashtag(company):
    result=[]
    for i in company:
        result.append('#'+i.upper())
    return result

In [31]:
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [44]:
def store_records(name,age,roll_no,sec,Class):
    data = {'Name':name,'Age':age,'Sec':sec,'Roll_no':roll_no,'Class':Class}
    import pandas as pd
    result=pd.DataFrame(data,index=[2])
    return result

In [50]:
display(store_records('Rohan',15,82,'E','6th'))
display(store_records('Sakshay',20,45,'E','12th'))

    Name  Age Sec  Roll_no Class
2  Rohan   15   E       82   6th

      Name  Age Sec  Roll_no Class
2  sakshay   20   E       45  12th

In [53]:
def students_records(**kwargs):
    print(kwargs)
    keys = list(kwargs)
    if type(keys[0])==str:
        import pandas as pd 
        result = pd.DataFrame(kwargs,index=[])
        return result 
    else:
        result = pd.DataFrame(kwargs,index=[])
        return result

In [54]:
students_records(Name =['Sakshay','Nakul'],Age= [20,18], Roll_no= [45,56],section =['E','F'],Class =['12th','12th'])

{'Name': ['Sakshay', 'Nakul'], 'Age': [20, 18], 'Roll_no': [45, 56], 'section': ['E', 'F'], 'Class': ['12th', '12th']}

ValueError: Length of values (2) does not match length of index (1)